<form action="/customer/create" method="post">
  <h2>create a customer</h2>
  <input type="text" placeholder="name" name="name"/>
  <input type="text" placeholder="email" name="email"/>
  <input type="text" placeholder="state" name="state"/>
  <input type="submit" value="submit"/>


</form>
